<!DOCTYPE html>
<html>
  <head>
    <title>ZooKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
		<div class='jumbotron'>
			<h1>ZooKeeper</h1>

			<nav class='navbar navbar-inverse navbar-fixed-top'>
				<ul class='nav navbar-nav'>
					<li><a href='/'>Home</a></li>	
					<li><a href='/animals'>Animals</a></li>	
					<li><a href='/animals/new'>New Animal</a></li>	
				</ul>
			</nav>
		</div>
    <%= yield %>
  </body>
</html>
